<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATTERBOX</title>
    <link rel="stylesheet" href="/css/avatar.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <div class="main-avatar">
        <h1>Select Avatar</h1>
        <div class="avatars">
            <div class="avatar" onclick="selectedAvatar(event, 'avatar1.png')"><img src="/images/avatar1.png" alt="av1"></div>
            <div class="avatar" onclick="selectedAvatar(event, 'avatar2.png')"><img src="/images/avatar2.png" alt="av2"></div>
            <div class="avatar" onclick="selectedAvatar(event, 'avatar3.png')"><img src="/images/avatar3.png" alt="av3"></div>
            <div class="avatar" onclick="selectedAvatar(event, 'avatar4.png')"><img src="/images/avatar4.png" alt="av4"></div>
            <div class="avatar" onclick="selectedAvatar(event, 'avatar5.png')"><img src="/images/avatar5.png" alt="av5"></div>
            <div class="avatar" onclick="selectedAvatar(event, 'avatar6.png')"><img src="/images/avatar6.png" alt="av6"></div>
        </div>
    </div>

    <script src="/js/avatar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
</body>
</html>