<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATTERBOX</title>
    <link rel="stylesheet" href="/css/chat-style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <h2>CHATTERBOX</h2>
    </div>
    <div class="chat-box">
        <div class="members">
            <form class="searchForm">
                <i class="material-icons">search</i>
			    <input placeholder="Search here" type="text">
            </form>
        </div>
        <div class="chatting">
            <div class="messages">
                <!-- MESSAGES -->
                <div class="message my-message" id="my-message">
                
                </div>

                <div class="update">
                    <!-- ABC joined the conversation -->
                </div>

                <div class="message other-message" id="other-message">
                    
                </div>

            </div>

        
            <form onsubmit="send(event)" id="sendForm">
                <input type="text" placeholder="Text Here..." id="msg">
                <button class="sendBtn"><i class="material-icons">send</i></button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="/js/chat-front.js"></script>

</body>
</html>