<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATTERBOX</title>
    <link rel="stylesheet" href="/css/chat-style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <h2>CHATTERBOX</h2>
    </div>
    <div class="chat-box">
        <div class="members">

        </div>
        <div class="chatting">
            <h2>Chatting</h2>

            <form onsubmit="send(event)">
                <input type="text" placeholder="Text Here...">
                <button class="sendBtn"><i class="material-icons">send</i></button>
            </form>
        </div>
    </div>

    
</body>
</html>