<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATTERBOX</title>
    <link rel="stylesheet" href="/css/chat-style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body class="screen chat-screen active">
    <div class="nav">
        <div class="logo">
            <img src="/images/logo.png" alt="logo">
            <h2>CHATTERBOX</h2>
        </div>
        
        <div class="profile">
            <div class="username"></div>
            <div class="avatar"></div>
        </div>
    

    </div>
    <div class="chat-box">
        <div class="members">

            <div class="add-group" onclick="addGroup()">
                <button>&#43;Create Group</button>
            </div>

            <form class="searchForm">
                <i class="material-icons">search</i>
			    <input placeholder="Search here" type="text">
            </form>
            

            <div id="showGroups">
                <ul id="GroupList">

                </ul>
            </div>

        </div>
        <div class="chatting">
            <div class="groupHeader" id="groupHeader">
            </div>

            <div class="messages" id="messages">
                <!-- MESSAGES -->

                <!-- <div class="update">
                    ABC joined the conversation
                </div> -->

            </div>
            
            
            <form onsubmit="send(event)" id="sendForm">
                <input type="text" placeholder="Text Here..." id="msg">
                <button class="sendBtn"><i class="material-icons">send</i></button>
            </form>
        </div>
        <div id="listMembers" class="listMembers">
            <ul id="memberList"></ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="/js/chat-front.js"></script>

</body>
</html>