<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    
    <link rel="stylesheet" href="/css/signup-style.css">
</head>
<body>
    <div class="formBx">
        <div class="signupForm">
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
                <h2>CHATTERBOX</h2>
            </div>
            <form onsubmit="signup(event)">
                <input type="text" id="username" placeholder="Username"  required> <br>
    
                <input type="email" id="email" placeholder="Email"  required> <br>

                <input type="number" id="number" placeholder="Phone Number"  required> <br>
    
                <input type="password" id="password" placeholder="Password" required> <br>
    
                <button class="signupBtn">Create User</button>
            </form>
            <h5>ALREADY HAVE ACCOUNT? <a href="/user/login">LOGIN</a></h5>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script src="/js/user-front.js"></script>
</body>
</html>