body{
    margin: 0;
    padding: 0;
    background-color: #0C243C;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.main{
    display: flex;
}

.formBx{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    margin-top: 80px;
}

.logo{
    display: flex;
}

.logo img{
    height: 60px;
    margin:0 13px;
    width: 60px;
}

.logo h2{
    letter-spacing: 2.3px;
}

.addGroupForm{
    padding: 20px 60px;
    width: 100%;
    background-color: rgb(18, 11, 38);
    border-radius: 15px;
}

.addGroupForm input{
    width: 88%;
    margin: 15px 0;
    padding: 13px;
    color: white;
    background-color: rgb(18, 11, 38);
    border: 2.5px solid rgb(34, 6, 110);
    border-radius: 7px;
}

.createGrp{
    width: 100%;
    margin: 15px 0;
    padding: 13px;
    background-color: plum;
    color: white;
    font-weight: 800;
    border: 2.5px solid rgb(34, 6, 110);
    border-radius: 10px;
    cursor: pointer;
}

.createGrp:hover{
    background-color: #0C243C;
}

h5{
    letter-spacing: 1.2px;
}

h5 a{
    text-decoration: none;
}

#memberBox{
    visibility: hidden;
}

.addMembers{
    padding: 20px 60px;
    width: 100%;
    background-color: rgb(18, 11, 38);
    border-radius: 15px;
}

#memberList{
    list-style: none;
}

#memberList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    padding: 5px;
    background-color: #0C243C;
    border-radius: 10px;
}

#memberList li button{
    padding: 2px;
    background-color: plum;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
}