/* 
 dark blue - #0C243C
white
darkest - rgb(18, 11, 38)
blue - rgb(34, 6, 110
 */

body{
    margin: 0;
    padding: 0;
    background-color: #0C243C;
    color: white;
    font-family:'Courier New', Courier, monospace;
}


/* --------LOGO -------------- */
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.logo{
    display: flex;
}

.logo img{
    height: 60px;
    margin:0 13px;
    width: 60px;
}

.logo h2{
    letter-spacing: 2.3px;
}


/* ---------Profile----------- */
.profile{
    display: flex;
    align-items: center;
    color: white;
    margin: 0 10px;
}

.profile .username{
    margin:0 10px;
}

.avatar img{
    height: 50px;
    width: 50px;
}

/* -----Chat groups--- */

.chat-box{
    display: flex;
    height: 90vh;
}

.members{
    width: 20%;
    background-color: rgb(18, 11, 38);
    border: 2.5px solid rgb(34, 6, 110);
    padding: 10px;
    overflow-y: scroll;
}

.searchForm{
    background-color: rgb(18, 11, 38);
    padding: 10px;
    border: 2.5px solid rgb(34, 6, 110);
    display: flex;
}

.searchForm input{
    background-color: rgb(18, 11, 38);
    color: white;
    width: 89.9%;
    border: 0;
}

.searchForm button{
    background-color: rgb(18, 11, 38);
    color: white;
    border: 0;
}

.searchForm button i{
    height: 20px;
}


/* -----GROUPS ----- */

.add-group{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}

.add-group button{
    padding: 5px;
    background-color: #0C243C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(207, 197, 197, 0.19);
    color: white;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.add-group button:hover{
    background-color: plum;
    color: black;
}

#GroupList{
    background-color: rgb(18, 11, 38);
    padding: 0;
}

#GroupList li{
    width: 95%;
    display: flex;
    border: 2.5px solid rgb(34, 6, 110);
    padding: 5.5px;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
}

#grpJoinId{
    padding: 3px;
    background-color: plum;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

/* --------Messages--------- */

.chatting{
    width: 60%;
    background-color: plum;
    border: 2.5px solid rgb(34, 6, 110);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.groupHeader{
    height: 50px;
    background-color: rgb(18, 11, 38);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
}

#exitChat, #addMember, #seeMembers, #memberAdded{
    padding: 4px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0C243C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(207, 197, 197, 0.19);
    height: 30px;
    margin-right: 10px;
}

#memberAdded:hover{
    background-color: plum;
    color: black;
}

#exitChat:hover{
    background-color: plum;
    color: black;
}

#addMember:hover{
    background-color: plum;
    color: black;
}

#seeMembers:hover{
    background-color: plum;
    color: black;
}

.messages{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.message{
    display: flex;
    padding: 10px;
}

.message div{
    background-color: rgb(34, 6, 110);
    max-width:  80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 7px;
}

.update{
    text-align: center;
    padding: 5px;
    font-style: italic;
    background-color: rgb(18, 11, 38);
    border-radius: 20px;
}

.name{
    font-size: 13px;
    color: #626060;
}

.my-message{
    border-bottom-left-radius: 10px;
    justify-content: flex-end;
}

.other-message{
    justify-content: flex-start;
}

/* ----Group Members List--- */
.listMembers{
    background-color: rgb(18, 11, 38);
    width: 20%;
}

#memberList{
    list-style: none;
    padding: 0;
    margin: 5px;
}

#memberListLi, #membersToAdd, #allContacts{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(34, 6, 110)
}

/* ------------SEND BUTTON------------- */
#sendForm{
    display: flex;
    width: 100%;
    height: 50px;
}

.chatting input{
    flex: 1;
    background-color: rgb(18, 11, 38);
    border: 2.5px solid rgb(34, 6, 110);
    padding: 10px;
    color: white;
}

.sendBtn{
    border: 0;
    background-color: rgb(18, 11, 38);
    color: white;
    cursor: pointer;
}

/* ------------ Scroll Bar -----------------*/

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(34, 6, 110);
    border: 0.5px solid white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }