/* 
 dark blue - #0C243C
white
darkest - rgb(18, 11, 38)
blue - rgb(34, 6, 110
 */

body{
    margin: 0;
    padding: 0;
    background-color: #0C243C;
    color: white;
    font-family:'Courier New', Courier, monospace;
}


/* --------LOGO -------------- */
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.logo{
    display: flex;
}

.logo img{
    height: 60px;
    margin:0 13px;
    width: 60px;
}

.logo h2{
    letter-spacing: 2.3px;
}


/* -----Chat groups--- */

.chat-box{
    display: flex;
    height: 90vh;
}

.members{
    width: 25%;
    background-color: rgb(18, 11, 38);
    border: 2.5px solid rgb(34, 6, 110);
    padding: 10px;
}

.searchForm{
    background-color: rgb(18, 11, 38);
    padding: 10px;
    border: 2.5px solid rgb(34, 6, 110);
    display: flex;
}

.searchForm input{
    background-color: rgb(18, 11, 38);
    color: white;
    width: 89.9%;
    border: 0;
}

.searchForm button{
    background-color: rgb(18, 11, 38);
    color: white;
    border: 0;
}

.searchForm button i{
    height: 20px;
}


/* -----GROUPS ----- */

.add-group{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}

.add-group button{
    padding: 5px;
    background-color: plum;
    color: white;
    font-weight: 800;
    /* border: 2.5px solid rgb(34, 6, 110); */
    border-radius: 10px;
    cursor: pointer;
}

#GroupList{
    background-color: rgb(18, 11, 38);
    padding: 0;
}

#GroupList li{
    /* list-style: none; */
    width: 95%;
    display: flex;
    border: 2.5px solid rgb(34, 6, 110);
    padding: 5.5px;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    
}

#grpJoinId{
    padding: 3px;
    background-color: plum;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

/* --------Messages--------- */

.chatting{
    width: 75%;
    background-color: plum;
    border: 2.5px solid rgb(34, 6, 110);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.groupHeader{
    height: 50px;
    background-color: rgb(18, 11, 38);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
}

#exitChat{
    padding: 2px;
    background-color: plum;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
}

.messages{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.message{
    display: flex;
    padding: 10px;
}

.message div{
    max-width:  80%;
    background-color: rgb(34, 6, 110);
    padding: 6px;
}

.update{
    text-align: center;
    padding: 5px;
    font-style: italic;
    background-color: rgb(18, 11, 38);
    border-radius: 20px;
}

.name{
    font-size: 13px;
    color: #626060;
}

.my-message{
    border-bottom-left-radius: 10px;
    justify-content: flex-end;
}

.other-message{
    justify-content: flex-start;
}




/* ------------SEND BUTTON------------- */

#sendForm{
    display: flex;
    width: 100%;
    height: 50px;
}

.chatting input{
    flex: 1;
    background-color: rgb(18, 11, 38);
    border: 2.5px solid rgb(34, 6, 110);
    padding: 10px;
    color: white;
}

.sendBtn{
    border: 0;
    background-color: rgb(18, 11, 38);
    color: white;
    cursor: pointer;
}